In [1]:
# Import required libraries
import pandas as pd
import numpy as np 
import sklearn
from sklearn.neural_network import MLPClassifier


# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [2]:
#Importing the dataset and verifying it's details
data= pd.read_excel("dataset.xlsx")
print(data.shape)
data.describe().transpose()

(1001, 11)

        count        mean         std  min    25%    50%    75%     max
urlid  1001.0  501.000000  289.108111  1.0  251.0  501.0  751.0  1001.0
label  1001.0    0.499500    0.500250  0.0    0.0    0.0    1.0     1.0
d1     1001.0    0.218781    0.413627  0.0    0.0    0.0    0.0     1.0
d2     1001.0    0.365634    0.481848  0.0    0.0    0.0    1.0     1.0
d3     1001.0    0.354645    0.478645  0.0    0.0    0.0    1.0     1.0
d4     1001.0    0.384615    0.486747  0.0    0.0    0.0    1.0     1.0
d5     1001.0    0.377622    0.485035  0.0    0.0    0.0    1.0     1.0
d6     1001.0    0.352647    0.478033  0.0    0.0    0.0    1.0     1.0
d7     1001.0    0.328671    0.469965  0.0    0.0    0.0    1.0     1.0
d8     1001.0    0.331668    0.471048  0.0    0.0    0.0    1.0     1.0

In [3]:
#Removing url and urlid columns as it was added for out convenience only
extra_column1 = ['urlid'] 
extra_column2 = ['url'] 
#Removing Data labels from X set 
target_column = ['label'] 
predictors = list(set(list(data.columns))-set(extra_column1)-set(extra_column2)-set(target_column))
#Normalzing the parameters
data[predictors] = data[predictors]/data[predictors].max()
data[predictors].describe().transpose()

     count      mean       std  min  25%  50%  75%  max
d5  1001.0  0.377622  0.485035  0.0  0.0  0.0  1.0  1.0
d8  1001.0  0.331668  0.471048  0.0  0.0  0.0  1.0  1.0
d2  1001.0  0.365634  0.481848  0.0  0.0  0.0  1.0  1.0
d7  1001.0  0.328671  0.469965  0.0  0.0  0.0  1.0  1.0
d4  1001.0  0.384615  0.486747  0.0  0.0  0.0  1.0  1.0
d6  1001.0  0.352647  0.478033  0.0  0.0  0.0  1.0  1.0
d3  1001.0  0.354645  0.478645  0.0  0.0  0.0  1.0  1.0
d1  1001.0  0.218781  0.413627  0.0  0.0  0.0  0.0  1.0

In [4]:
#Defining Training and test sets
X = data[predictors].values
y = data[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.250, random_state=42)
print(X_train.shape); print(X_test.shape)

(750, 8)
(251, 8)

In [5]:
#Training the model. A neural network architecture with 3 hidden layers is created (A relatively smaller Newural network due to less data available) 

from sklearn.neural_network import MLPClassifier

model =  MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', alpha=0.0001, batch_size='auto', learning_rate='constant', learning_rate_init=0.001, max_iter=200, shuffle=True, beta_1=0.9, beta_2=0.999, epsilon=1e-08)
model.fit(X_train,y_train)

predict_train = model.predict(X_train)
predict_test = model.predict(X_test)

C:\Users\Karan\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [6]:
#Analysing F score, recall and precision for training data
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_train,predict_train))
print(classification_report(y_train,predict_train))

#Accuracy comes out to 97%

[[373   0]
 [ 19 358]]
              precision    recall  f1-score   support

           0       0.95      1.00      0.98       373
           1       1.00      0.95      0.97       377

    accuracy                           0.97       750
   macro avg       0.98      0.97      0.97       750
weighted avg       0.98      0.97      0.97       750

In [7]:
#Analysing F score, recall and precision for test data
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

#There is slight reduction in precision and recall

[[128   0]
 [  6 117]]
              precision    recall  f1-score   support

           0       0.96      1.00      0.98       128
           1       1.00      0.95      0.97       123

    accuracy                           0.98       251
   macro avg       0.98      0.98      0.98       251
weighted avg       0.98      0.98      0.98       251

In [8]:
training_accuracy = model.score(X_train, y_train)
print("Training Accuracy: ", training_accuracy)

Training Accuracy:  0.9746666666666667

In [9]:
test_accuracy = model.score(X_test, y_test)
print("Training Accuracy: ", test_accuracy)

Training Accuracy:  0.9760956175298805

In [10]:
def getIndexes(dfObj, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

In [11]:
X_url = data[extra_column2]

X_url_train, X_url_test, y_train, y_test = train_test_split(X_url, y, test_size=0.250, random_state=42)

#Show it after running on a single data

In [12]:
# make a prediction
x = getIndexes(X_url_train, "support.apple.com")[0][0]
ynew = model.predict(X_train[[x]])

In [13]:
#Result of prediction

if(ynew==0):
    print("Prediction: Non-Malicious")
else:
    print("Prediction: Malicious")
    

print("The prediction made by the model was:",(y_train[x]==ynew))

Prediction: Non-Malicious
The prediction made by the model was: [ True]